In [1]:
import numpy as nmp
import pandas as pnd
data = pnd.read_table('dane2.dat', sep=' ')
classes = set(data.klasa)

## Zadanie 1
Określ liczbę obiektów, liczbę klas, zakresy zmienności poszczególnych atrybutów, ich wartości średnie i odchylenia standardowe dla całego zbioru i w poszczególnych klasach. Wskaż atrybuty o największej i najmniejszej zmienności zgodnie z miarami rozstępu i odchylenia standardowego. Jakie wnioski możesz wyciągnąć z tej analizy?
### Cechy całego zbioru
Liczba klas:

In [52]:
len(classes)

4

In [91]:
data.describe()

          atrybut1     atrybut2     atrybut3
count  1084.000000  1084.000000  1084.000000
mean     14.227410     4.438901    22.010804
std      11.500746     2.032103    24.181961
min      -1.968539    -0.490167   -43.555897
25%       3.566773     3.009294     4.616166
50%      11.825693     4.272123    22.471634
75%      16.373247     5.744213    38.555013
max      35.842146    12.434930   100.890134

### Poszczególne klasy
#### Klasa A

In [93]:
data[data.klasa == 'A'].describe()

         atrybut1    atrybut2    atrybut3
count  240.000000  240.000000  240.000000
mean    10.138660    6.044093   12.404963
std      1.425593    2.198199   15.896253
min      5.737621    0.370273  -28.505608
25%      9.223685    4.570963    2.454545
50%     10.033545    6.031270   12.902333
75%     11.202069    7.537845   22.985003
max     14.393056   12.434930   60.097350

#### Kasa B

In [94]:
data[data.klasa == 'B'].describe()

         atrybut1    atrybut2    atrybut3
count  330.000000  330.000000  330.000000
mean     2.165188    3.050038   29.635088
std      1.339703    1.395525   20.236050
min     -1.968539   -0.490167  -34.706880
25%      1.218117    2.095246   16.181138
50%      2.138831    3.088464   30.396561
75%      3.173117    4.011452   43.450057
max      5.012911    6.595541   80.249678

#### Kasa C

In [95]:
data[data.klasa == 'C'].describe()

         atrybut1    atrybut2    atrybut3
count  254.000000  254.000000  254.000000
mean    33.002905    4.894426   42.771165
std      0.972881    1.806760   19.358378
min     30.565839   -0.287685  -15.516450
25%     32.352036    3.704453   31.150737
50%     33.038322    4.921782   41.476882
75%     33.689725    6.126613   52.610471
max     35.842146    9.771939  100.890134

#### Klasa D

In [110]:
data[data.klasa == 'C'].describe()

         atrybut1    atrybut2    atrybut3
count  254.000000  254.000000  254.000000
mean    33.002905    4.894426   42.771165
std      0.972881    1.806760   19.358378
min     30.565839   -0.287685  -15.516450
25%     32.352036    3.704453   31.150737
50%     33.038322    4.921782   41.476882
75%     33.689725    6.126613   52.610471
max     35.842146    9.771939  100.890134

#### Miary rozstępu

In [62]:
allRanges = []
for oneClass in classes:
    currData = data[data.klasa == oneClass]
    currRange = []
    currRange.append(max(currData.atrybut1) - min(currData.atrybut1))
    currRange.append(max(currData.atrybut2) - min(currData.atrybut2))
    currRange.append(max(currData.atrybut3) - min(currData.atrybut3))
    allRanges.append(currRange)

pnd.DataFrame(allRanges, index = classes, columns = ['atrybut1', 'atrybut2', 'atrybut3']).sort_index()

   atrybut1   atrybut2    atrybut3
A  8.655435  12.064657   88.602958
B  6.981450   7.085708  114.956558
C  5.276307  10.059624  116.406584
D  5.491550   7.440056   96.019458

## Ocena zmienności
Dla całego zbioru danych najmniejszą zmienność ma atrybut 2., a największą atrybut 3.
Dla poszczególnych klas atrybut 3. również ma największą zmienność. Najmniejszą zmienność dla poszczególnych klas wykazał atrybut 1.
## Wnioski
Po wykonaniu powyższej analizy, można wywnioskować, że wartości dla danych klas nie są rozłożone równomiernie. Gdyby tak było, ocena zmienności dla całego zbioru danych i dla poszczególnych klas nie różniłaby się. Można podejżewać, że w przypadku atrybutu 3. wartości są rozrzucone podobnie we wszystkich klasach.