In [209]:
import sys
import numpy as nmp
import pandas as pnd
data = pnd.read_table('dane2.dat', sep=' ')
classes = set(data.klasa)

## Zadanie 3
Oceń czy w zbiorze danych występują punkty oddalone. Jeśli tak to zdecyduj co z nimi zrobić. Sprawdź czy atrybuty wymagają normalizacji lub standaryzacji. Jeśli tak, to wykonaj ją.
### Punkty oddalone - wykrywanie metodą analityczną

In [220]:
atr = data.atrybut1
q1 = atr.quantile(0.25)
q3 = atr.quantile(0.75)
down = q1 - 1.5 * (q3 - q1)
up = q3 + 1.5 * (q3 - q1)

data_fixed = data[data.atrybut1 > down][data.atrybut1 < up]

far = (data[atr > up].append(data[atr < down]))
pnd.DataFrame(far.atrybut1)

      atrybut1
339  35.842146
377  35.668187

In [221]:
atr = data.atrybut2
q1 = atr.quantile(0.25)
q3 = atr.quantile(0.75)
down = q1 - 1.5 * (q3 - q1)
up = q3 + 1.5 * (q3 - q1)

data_fixed = data_fixed[data_fixed.atrybut2 > down][data_fixed.atrybut2 < up]

far = (data[atr > up].append(data[atr < down]))
pnd.DataFrame(far.atrybut2)

       atrybut2
21    10.077687
292   11.335322
321   10.079279
636   10.294435
738   10.513794
832   10.351723
880    9.875525
904    9.882224
999   10.250798
1066  12.434930

In [222]:
atr = data.atrybut3
q1 = atr.quantile(0.25)
q3 = atr.quantile(0.75)
down = q1 - 1.5 * (q3 - q1)
up = q3 + 1.5 * (q3 - q1)

data_fixed = data_fixed[data.atrybut3 > down][data_fixed.atrybut3 < up]

far = (data[atr > up].append(data[atr < down]))
pnd.DataFrame(far.atrybut3)

D:\Users\Radek\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

        atrybut3
28     96.653316
193   100.011788
574   100.890134
900    89.671517
1074   90.707846

In [223]:
data_fixed = data_fixed.reset_index(drop = True)

Punkty te zostały usunięte. Operacja ta wymagała ponownego indeksowania danych.
### Standaryzacja
Dane dla poszczególnych atrybutów są bardzo rozproszone. W związku z tym zostaną poddane standaryzacji.

In [225]:
std_data = data_fixed

std_data.atrybut1 -= data.atrybut1.mean()
std_data.atrybut2 -= data.atrybut2.mean()
std_data.atrybut3 -= data.atrybut3.mean()

std_data.atrybut1 /= data.atrybut1.std()
std_data.atrybut2 /= data.atrybut2.std()
std_data.atrybut3 /= data.atrybut3.std()