In [1]:
import numpy as nmp
import pandas as pnd
data = pnd.read_table('dane2.dat', sep=' ')
classes = set(data.klasa)

## Zadanie 1
Określ liczbę obiektów, liczbę klas, zakresy zmienności poszczególnych atrybutów, ich wartości średnie i odchylenia standardowe dla całego zbioru i w poszczególnych klasach. Wskaż atrybuty o największej i najmniejszej zmienności zgodnie z miarami rozstępu i odchylenia standardowego. Jakie wnioski możesz wyciągnąć z tej analizy?
### Cechy całego zbioru
#### Liczba obiektów:

In [2]:
data.size

4336

#### Liczba klas:

In [52]:
len(classes)

4

#### Wartości średnie

In [53]:
nmp.mean(data)

atrybut1    14.227410
atrybut2     4.438901
atrybut3    22.010804
dtype: float64

#### Odchylenie standardowe

In [54]:
nmp.std(data)

atrybut1    11.495440
atrybut2     2.031165
atrybut3    24.170805
dtype: float64

### Poszczególne klasy

In [55]:
data.describe()

          atrybut1     atrybut2     atrybut3
count  1084.000000  1084.000000  1084.000000
mean     14.227410     4.438901    22.010804
std      11.500746     2.032103    24.181961
min      -1.968539    -0.490167   -43.555897
25%       3.566773     3.009294     4.616166
50%      11.825693     4.272123    22.471634
75%      16.373247     5.744213    38.555013
max      35.842146    12.434930   100.890134

#### Miary rozstępu

In [62]:
allRanges = []
for oneClass in classes:
    currData = data[data.klasa == oneClass]
    currRange = []
    currRange.append(max(currData.atrybut1) - min(currData.atrybut1))
    currRange.append(max(currData.atrybut2) - min(currData.atrybut2))
    currRange.append(max(currData.atrybut3) - min(currData.atrybut3))
    allRanges.append(currRange)

pnd.DataFrame(allRanges, index = classes, columns = ['atrybut1', 'atrybut2', 'atrybut3']).sort_index()

   atrybut1   atrybut2    atrybut3
A  8.655435  12.064657   88.602958
B  6.981450   7.085708  114.956558
C  5.276307  10.059624  116.406584
D  5.491550   7.440056   96.019458

## Ocena zmienności
Dla całego zbioru danych najmniejszą zmienność ma atrybut 2., a największą atrybut 3.
Dla poszczególnych klas atrybut 3. również ma największą zmienność. Najmniejszą zmienność dla poszczególnych klas wykazał atrybut 1.
## Wnioski
Po wykonaniu powyższej analizy, można wywnioskować, że wartości dla danych klas nie są rozłożone równomiernie. Gdyby tak było, ocena zmienności dla całego zbioru danych i dla poszczególnych klas nie różniłaby się. Można podejżewać, że w przypadku atrybutu 3. wartości są rozrzucone podobnie we wszystkich klasach.